<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SendMail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SendMail.Properties.Settings>
            <setting name="smtpServer" serializeAs="String">
                <value>xch1</value>
            </setting>
            <setting name="smtpPort" serializeAs="String">
                <value>2525</value>
            </setting>
            <setting name="UseEncryption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="blockInvalidServerCertificate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="smtpUsername" serializeAs="String">
                <value>noreply</value>
            </setting>
            <setting name="smtpPassword" serializeAs="String">
                <value>HRSSC1234!@</value>
            </setting>
            <setting name="serverIsOpenRelay" serializeAs="String">
                <value>False</value>
            </setting>
        </SendMail.Properties.Settings>
    </applicationSettings>
</configuration>