<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Create_ADUser_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup><applicationSettings>
        <Create_ADUser_Generator.Properties.Settings>
            <setting name="AdDomain" serializeAs="String">
                <value>in.telekombs.com</value>
            </setting>
            <setting name="AdAdmin" serializeAs="String">
                <value>george.bungarzescu@telekombs.com</value>
            </setting>
            <setting name="AdAdminPass" serializeAs="String">
                <value>Parola2018</value>
            </setting>
            <setting name="AdDefaultNewUserOU" serializeAs="String">
                <value />
            </setting>
        </Create_ADUser_Generator.Properties.Settings>
    </applicationSettings>
</configuration>
