<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestLogListener.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestLogListener.Properties.Settings>
            <setting name="SyslogHost" serializeAs="String">
                <value>192.168.91.129</value>
            </setting>
            <setting name="SyslogPort" serializeAs="String">
                <value>514</value>
            </setting>
            <setting name="SyslogMode" serializeAs="String">
                <value>TCP</value>
            </setting>
        </TestLogListener.Properties.Settings>
    </applicationSettings>
</configuration>